* {
    margin: 0;
    padding: 0;
    font-family: 'Readex Pro', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-image: url(/images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 98%);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main {
    width: 375px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 25px lightgray;
}

@media screen and (max-width: 900px) {
    main {
        margin-left: 20px;
        margin-right: 20px;
    }
  }

.hero img {
    border-radius: 20px 20px 0 0;
    width: 100%;
}

h1 {
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #182B55;
}

p {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #B5BACB;
}

.subscription {
    padding: 10px;
    background-color: #F8F9FE;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    color: #B5BACB;
}

.subscription-text {
    margin-left: -60px;
}

.subscription-change {
    font-weight: 500;
    text-decoration: underline;
    color: #776CF1;
}
.subscription-change:hover {
    text-decoration: none;
    color: #776CF1;
    cursor: pointer;
}

.plan {
    font-weight: 700;
    color: #182B55;
}

button {
    display: flex;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    width: 90%;
    height: 40px;
    background-color: #382AE1;
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px 3px lightgrey;
}

button:hover {
    cursor: pointer;
    background-color: #776CF1;
}

.cancel {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
    
}
.cancel:hover {
    color: black;
    cursor: pointer;
}

.attribution { 
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
